/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"); */

.container-login {
  max-height: 100vh;
  height: 100vh;
}

.login-bg {
  background-image: url("../../assets/image/loginimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.form {
  position: absolute;
  width: 452px;
  height: 348px;
  left: 854px;
  top: 301px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* gap: 1px; */
  position: absolute;
  width: 452px;
  height: 348px;
  left: 854px;
  top: 301px;
}

.form-content .form-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  width: 452px;
  height: 40px;
  border: 1px solid #d0d0d0;
  border-radius: 12px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 452px;
  height: 40px;
  background-color: #7126b5 !important;
  border-radius: 16px;
}

.text-masuk {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 238px;
  height: 20px;
  left: 961px;
  top: 629px;
}

.form-content h1 {
  width: 83px;
  height: 36px;
  left: 854px;
  top: 301px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.daftar {
  font-family: "Poppins", sans-serif;
  color: #7126b5;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* <-- responsive css -->  */

@media screen and (max-width: 960px) {
  .form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 328px;
    height: 228px;
    left: 16px;
    top: 166px;
  }
  .login-bg {
    display: none;
  }
}
