.images {
    width: 48px;
    height: 48px;
}

.width-left {
    margin-left: -5rem !important;
}
.width-right {
    margin-left: 5rem !important;
}
.button-primary-3 {
    background-color: #e2d4f0;
    border-radius: 12px;
    border-color: #7126b5;
    border-width: 2px;
    border-style: solid;
    padding: 12px 14px;
    font-size: 14px;
    line-height: 20px;
  }
  .button-primary-3:hover {
    background-color: #7126b5;
  }

.color {
    background-color: #e2d4f0 !important;
    border: none !important;
}