.images {
  width: 48px;
  height: 48px;
}
.width-left {
  margin-left: -5rem !important;
}
.width-right {
  margin-left: 5rem !important;
}
.button-primary-3 {
  background-color: #e2d4f0;
  border-radius: 12px;
  border-color: #7126b5;
  border-width: 2px;
  border-style: solid;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 20px;
}
.button-primary-3:hover {
  background-color: #7126b5;
}
.color {
  background-color: #e2d4f0 !important;
  border: none !important;
}
.icon-size {
  font-size: 20px;
}
.display{
  visibility: hidden;
}

/* Custom input Add Product */
.input-opacity {
  opacity: 0;
}
.custom-file-input {
  cursor: pointer;
  color: transparent;
  width: -webkit-fill-available;
  /* position: absolute; */
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  text-align: center;
  content: "+";
  color: gray;
  display: inline-block;
  border: none;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: lighter;
  font-size: 40pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
