.images {
  width: 48px;
  height: 48px;
}

.option {
  /* height: fit-content !important; */
  width: 100%;
  border: 1px solid rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 5px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-right: 2rem;
}
.button-option {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bg-option {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.responsive-option {
  display: flex;
}
.color {
  background-color: #e2d4f0 !important;
  border: none !important;
}
.icon-size {
  font-size: 20px;
}
.display {
  visibility: hidden;
}
.color-purple-4 {
  color: #7126b5;
}

.category__wrapper {
  position: relative;
  width: 30%;
  /* display: contents; */
}
.category__overflow-scroll-x {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-right: 2rem;
}
.responsive-text2{
  display: none;
}

/* Responsive */
@media only screen and (max-width: 992px) {
  .responsive-text2{
    display: block;
  }
  .responsive-text1{
    display: none;
  }
  .responsive-option {
    display: block;
  }
  .option {
    width: 100%;
    display: flex;
    box-shadow: none;
    padding: 0;
    border: none;
    margin-right: 0;
  }
  .title-option {
    display: none;
  }
  .button-option {
    border: none;
    margin-right: 1rem;
  }
  .bg-option {
    background-color: #e2d4f0;
    color: black;
  }
  .color-purple-4 {
    background-color: #7126b5;
    color: white;
  }
  .category__wrapper {
    display: contents;
  }
  .category__overflow-scroll-x {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: wrap;
    -webkit-overflow-scrolling: touch;
    margin-right: 0;
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
}
