.card-style {
    width: 23rem;
    height: 28.5rem !important;
    transform: translate(-50%,-50%);
    left: 180px;
    top: 256px;
    border-radius: 16px !important;
    position: absolute;
 
}
.close {
    background: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1.5rem;
}
/* Product Match */
.card-body {
    height: 12.5rem;
    background-color: #EEEEEE;
}
/* Item Image */
.item {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
/* Button */
.button {
    height: 3rem;
    background-color: #7126B5;
    font-size: 14px;
}
/* Responsive */
@media only screen and (max-width: 425px) {
    .card-style {
        transform: translateX(-50%);
        left: 50vw;
        bottom: -1.5vh;
        top: auto;
        border-radius: 16px 16px 0 0 !important;
    }
  }