.card {
    font-family: 'Poppins';
    width: 22.5rem;
    height: 28.5rem !important;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 16px !important;
}
.card-body h1 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 42px;
}
.card-body h2 {
    font-weight: 400;
    font-size: 14px;
    color: #8A8A8A;
}
p {
    font-weight: 500;
    font-size: 14px;
}

/* Product Match */
.card-body .card-body {
    height: 12.5rem;
    background-color: #EEEEEE;
}
.item div .item {
    color: #8A8A8A;
    font-size: 10px;
}

/* Item Image */
.item img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

/* Button */
.card-body .button {
    height: 3rem;
    background-color: #7126B5;
    font-size: 14px;
}

/* Responsive */
@media only screen and (max-width: 360px) {
    .card {
        transform: translateX(-50%);
        left: 50%;
        bottom: 0;
        top: auto;
        border-radius: 16px 16px 0 0 !important;
    }
  }