.images {
  width: 48px;
  height: 48px;
}

.width-left {
  margin-left: -5rem !important;
}
.width-right {
  margin-left: 5rem !important;
}
.button-primary-3 {
  background-color: #e2d4f0;
  border-radius: 12px;
  border-color: #7126b5;
  border-width: 2px;
  border-style: solid;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 5px;
  margin-left:20px;
  width: 10%;
}
.button-primary-3:hover {
  background-color: #7126b5;
}


.color {
  background-color: #e2d4f0 !important;
  border: none !important;
}
.cards {
  width: 40% !important;
  margin-left: 30%;
  margin-top: 2%;
}

.arrows {
  margin-top: 70px !important;
}

.tulis{
    margin-left: 30%;
}



.card-style {
    width: 23rem;
    height: 28.5rem !important;
    transform: translate(-50%,-50%);
    left: 30%;
    top: 50%;
    border-radius: 16px !important;
}
.close {
    background: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1.5rem;
}
/* Product Match */
.card-body {
    height: 12.5rem;
    background-color: #EEEEEE;
    margin-top:50px;
    margin-left:-20%;
    margin-right:30%;
    
}
/* Item Image */
.item {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.tanggal{
    margin-left:85%;
    margin-top:-13px;
}
/* Button */
.button {
    height: 3rem;
    background-color: #7126B5;
    font-size: 14px;
    display: inline;
    
}
/* Responsive */
@media only screen and (max-width: 360px) {
    .card-style {
        transform: translateX(-50%);
        left: 50vw;
        bottom: -1.5vh;
        top: auto;
        border-radius: 16px 16px 0 0 !important;
    }
  }